// Current colors

$white:                   #fff;
$black:                   #000;

$blue-electric:           #2972e7;
$blue-midnight:           #34495e;

$green:                   #3eb006;

$gray-lighter:            #eee;
$gray-light:              #ccc;
$gray-medium:             #a1a1a1;
$gray-dark:               #727272;

$red-medium:              #ff0000;
$red-dark:                #c01818;

$yellow:                  #f1c40f;



