

@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  &:before {
    display: inline-block;
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &.-big {
    font-size: 1.8em;
  }
}

  .icon.-fa-adjust:before {
    content: "\E001" 
  }
  .icon.-fa-adn:before {
    content: "\E002" 
  }
  .icon.-fa-align-center:before {
    content: "\E003" 
  }
  .icon.-fa-align-justify:before {
    content: "\E004" 
  }
  .icon.-fa-align-left:before {
    content: "\E005" 
  }
  .icon.-fa-align-right:before {
    content: "\E006" 
  }
  .icon.-fa-ambulance:before {
    content: "\E007" 
  }
  .icon.-fa-anchor:before {
    content: "\E008" 
  }
  .icon.-fa-android:before {
    content: "\E009" 
  }
  .icon.-fa-angellist:before {
    content: "\E00A" 
  }
  .icon.-fa-angle-double-down:before {
    content: "\E00B" 
  }
  .icon.-fa-angle-double-left:before {
    content: "\E00C" 
  }
  .icon.-fa-angle-double-right:before {
    content: "\E00D" 
  }
  .icon.-fa-angle-double-up:before {
    content: "\E00E" 
  }
  .icon.-fa-angle-down:before {
    content: "\E00F" 
  }
  .icon.-fa-angle-left:before {
    content: "\E010" 
  }
  .icon.-fa-angle-right:before {
    content: "\E011" 
  }
  .icon.-fa-angle-up:before {
    content: "\E012" 
  }
  .icon.-fa-apple:before {
    content: "\E013" 
  }
  .icon.-fa-archive:before {
    content: "\E014" 
  }
  .icon.-fa-area-chart:before {
    content: "\E015" 
  }
  .icon.-fa-arrow-circle-down:before {
    content: "\E016" 
  }
  .icon.-fa-arrow-circle-left:before {
    content: "\E017" 
  }
  .icon.-fa-arrow-circle-o-down:before {
    content: "\E018" 
  }
  .icon.-fa-arrow-circle-o-left:before {
    content: "\E019" 
  }
  .icon.-fa-arrow-circle-o-right:before {
    content: "\E01A" 
  }
  .icon.-fa-arrow-circle-o-up:before {
    content: "\E01B" 
  }
  .icon.-fa-arrow-circle-right:before {
    content: "\E01C" 
  }
  .icon.-fa-arrow-circle-up:before {
    content: "\E01D" 
  }
  .icon.-fa-arrow-down:before {
    content: "\E01E" 
  }
  .icon.-fa-arrow-left:before {
    content: "\E01F" 
  }
  .icon.-fa-arrow-right:before {
    content: "\E020" 
  }
  .icon.-fa-arrow-up:before {
    content: "\E021" 
  }
  .icon.-fa-arrows-alt:before {
    content: "\E022" 
  }
  .icon.-fa-arrows-h:before {
    content: "\E023" 
  }
  .icon.-fa-arrows-v:before {
    content: "\E024" 
  }
  .icon.-fa-arrows:before {
    content: "\E025" 
  }
  .icon.-fa-asterisk:before {
    content: "\E026" 
  }
  .icon.-fa-at:before {
    content: "\E027" 
  }
  .icon.-fa-automobile:before {
    content: "\E028" 
  }
  .icon.-fa-backward:before {
    content: "\E029" 
  }
  .icon.-fa-ban:before {
    content: "\E02A" 
  }
  .icon.-fa-bar-chart-o:before {
    content: "\E02B" 
  }
  .icon.-fa-barcode:before {
    content: "\E02C" 
  }
  .icon.-fa-beer:before {
    content: "\E02D" 
  }
  .icon.-fa-behance-square:before {
    content: "\E02E" 
  }
  .icon.-fa-behance:before {
    content: "\E02F" 
  }
  .icon.-fa-bell-o:before {
    content: "\E030" 
  }
  .icon.-fa-bell-slash-o:before {
    content: "\E031" 
  }
  .icon.-fa-bell-slash:before {
    content: "\E032" 
  }
  .icon.-fa-bell:before {
    content: "\E033" 
  }
  .icon.-fa-bicycle:before {
    content: "\E034" 
  }
  .icon.-fa-binoculars:before {
    content: "\E035" 
  }
  .icon.-fa-birthday-cake:before {
    content: "\E036" 
  }
  .icon.-fa-bitbucket-square:before {
    content: "\E037" 
  }
  .icon.-fa-bitbucket:before {
    content: "\E038" 
  }
  .icon.-fa-bitcoin:before {
    content: "\E039" 
  }
  .icon.-fa-bold:before {
    content: "\E03A" 
  }
  .icon.-fa-bomb:before {
    content: "\E03B" 
  }
  .icon.-fa-book:before {
    content: "\E03C" 
  }
  .icon.-fa-bookmark-o:before {
    content: "\E03D" 
  }
  .icon.-fa-bookmark:before {
    content: "\E03E" 
  }
  .icon.-fa-briefcase:before {
    content: "\E03F" 
  }
  .icon.-fa-bug:before {
    content: "\E040" 
  }
  .icon.-fa-building-o:before {
    content: "\E041" 
  }
  .icon.-fa-building:before {
    content: "\E042" 
  }
  .icon.-fa-bullhorn:before {
    content: "\E043" 
  }
  .icon.-fa-bullseye:before {
    content: "\E044" 
  }
  .icon.-fa-bus:before {
    content: "\E045" 
  }
  .icon.-fa-cab:before {
    content: "\E046" 
  }
  .icon.-fa-calculator:before {
    content: "\E047" 
  }
  .icon.-fa-calendar-o:before {
    content: "\E048" 
  }
  .icon.-fa-calendar:before {
    content: "\E049" 
  }
  .icon.-fa-camera-retro:before {
    content: "\E04A" 
  }
  .icon.-fa-camera:before {
    content: "\E04B" 
  }
  .icon.-fa-caret-down:before {
    content: "\E04C" 
  }
  .icon.-fa-caret-left:before {
    content: "\E04D" 
  }
  .icon.-fa-caret-right:before {
    content: "\E04E" 
  }
  .icon.-fa-caret-up:before {
    content: "\E04F" 
  }
  .icon.-fa-cc-amex:before {
    content: "\E050" 
  }
  .icon.-fa-cc-discover:before {
    content: "\E051" 
  }
  .icon.-fa-cc-mastercard:before {
    content: "\E052" 
  }
  .icon.-fa-cc-paypal:before {
    content: "\E053" 
  }
  .icon.-fa-cc-stripe:before {
    content: "\E054" 
  }
  .icon.-fa-cc-visa:before {
    content: "\E055" 
  }
  .icon.-fa-cc:before {
    content: "\E056" 
  }
  .icon.-fa-certificate:before {
    content: "\E057" 
  }
  .icon.-fa-chain:before {
    content: "\E058" 
  }
  .icon.-fa-check-circle-o:before {
    content: "\E059" 
  }
  .icon.-fa-check-circle:before {
    content: "\E05A" 
  }
  .icon.-fa-check-square-o:before {
    content: "\E05B" 
  }
  .icon.-fa-check-square:before {
    content: "\E05C" 
  }
  .icon.-fa-check:before {
    content: "\E05D" 
  }
  .icon.-fa-chevron-circle-down:before {
    content: "\E05E" 
  }
  .icon.-fa-chevron-circle-left:before {
    content: "\E05F" 
  }
  .icon.-fa-chevron-circle-right:before {
    content: "\E060" 
  }
  .icon.-fa-chevron-circle-up:before {
    content: "\E061" 
  }
  .icon.-fa-chevron-down:before {
    content: "\E062" 
  }
  .icon.-fa-chevron-left:before {
    content: "\E063" 
  }
  .icon.-fa-chevron-right:before {
    content: "\E064" 
  }
  .icon.-fa-chevron-up:before {
    content: "\E065" 
  }
  .icon.-fa-child:before {
    content: "\E066" 
  }
  .icon.-fa-circle-o-notch:before {
    content: "\E067" 
  }
  .icon.-fa-circle-o:before {
    content: "\E068" 
  }
  .icon.-fa-circle-thin:before {
    content: "\E069" 
  }
  .icon.-fa-circle:before {
    content: "\E06A" 
  }
  .icon.-fa-clock-o:before {
    content: "\E06B" 
  }
  .icon.-fa-cloud-download:before {
    content: "\E06C" 
  }
  .icon.-fa-cloud-upload:before {
    content: "\E06D" 
  }
  .icon.-fa-cloud:before {
    content: "\E06E" 
  }
  .icon.-fa-cny:before {
    content: "\E06F" 
  }
  .icon.-fa-code-fork:before {
    content: "\E070" 
  }
  .icon.-fa-code:before {
    content: "\E071" 
  }
  .icon.-fa-codepen:before {
    content: "\E072" 
  }
  .icon.-fa-coffee:before {
    content: "\E073" 
  }
  .icon.-fa-columns:before {
    content: "\E074" 
  }
  .icon.-fa-comment-o:before {
    content: "\E075" 
  }
  .icon.-fa-comment:before {
    content: "\E076" 
  }
  .icon.-fa-comments-o:before {
    content: "\E077" 
  }
  .icon.-fa-comments:before {
    content: "\E078" 
  }
  .icon.-fa-compass:before {
    content: "\E079" 
  }
  .icon.-fa-compress:before {
    content: "\E07A" 
  }
  .icon.-fa-copy:before {
    content: "\E07B" 
  }
  .icon.-fa-copyright:before {
    content: "\E07C" 
  }
  .icon.-fa-credit-card:before {
    content: "\E07D" 
  }
  .icon.-fa-crop:before {
    content: "\E07E" 
  }
  .icon.-fa-crosshairs:before {
    content: "\E07F" 
  }
  .icon.-fa-css3:before {
    content: "\E080" 
  }
  .icon.-fa-cube:before {
    content: "\E081" 
  }
  .icon.-fa-cubes:before {
    content: "\E082" 
  }
  .icon.-fa-cut:before {
    content: "\E083" 
  }
  .icon.-fa-cutlery:before {
    content: "\E084" 
  }
  .icon.-fa-dashboard:before {
    content: "\E085" 
  }
  .icon.-fa-database:before {
    content: "\E086" 
  }
  .icon.-fa-dedent:before {
    content: "\E087" 
  }
  .icon.-fa-delicious:before {
    content: "\E088" 
  }
  .icon.-fa-desktop:before {
    content: "\E089" 
  }
  .icon.-fa-deviantart:before {
    content: "\E08A" 
  }
  .icon.-fa-digg:before {
    content: "\E08B" 
  }
  .icon.-fa-dollar:before {
    content: "\E08C" 
  }
  .icon.-fa-dot-circle-o:before {
    content: "\E08D" 
  }
  .icon.-fa-download:before {
    content: "\E08E" 
  }
  .icon.-fa-dribbble:before {
    content: "\E08F" 
  }
  .icon.-fa-dropbox:before {
    content: "\E090" 
  }
  .icon.-fa-drupal:before {
    content: "\E091" 
  }
  .icon.-fa-edit:before {
    content: "\E092" 
  }
  .icon.-fa-eject:before {
    content: "\E093" 
  }
  .icon.-fa-ellipsis-h:before {
    content: "\E094" 
  }
  .icon.-fa-ellipsis-v:before {
    content: "\E095" 
  }
  .icon.-fa-envelope-o:before {
    content: "\E096" 
  }
  .icon.-fa-envelope-square:before {
    content: "\E097" 
  }
  .icon.-fa-envelope:before {
    content: "\E098" 
  }
  .icon.-fa-eraser:before {
    content: "\E099" 
  }
  .icon.-fa-euro:before {
    content: "\E09A" 
  }
  .icon.-fa-exchange:before {
    content: "\E09B" 
  }
  .icon.-fa-exclamation-circle:before {
    content: "\E09C" 
  }
  .icon.-fa-exclamation:before {
    content: "\E09D" 
  }
  .icon.-fa-expand:before {
    content: "\E09E" 
  }
  .icon.-fa-external-link-square:before {
    content: "\E09F" 
  }
  .icon.-fa-external-link:before {
    content: "\E0A0" 
  }
  .icon.-fa-eye-slash:before {
    content: "\E0A1" 
  }
  .icon.-fa-eye:before {
    content: "\E0A2" 
  }
  .icon.-fa-eyedropper:before {
    content: "\E0A3" 
  }
  .icon.-fa-facebook-square:before {
    content: "\E0A4" 
  }
  .icon.-fa-facebook:before {
    content: "\E0A5" 
  }
  .icon.-fa-fast-backward:before {
    content: "\E0A6" 
  }
  .icon.-fa-fast-forward:before {
    content: "\E0A7" 
  }
  .icon.-fa-fax:before {
    content: "\E0A8" 
  }
  .icon.-fa-female:before {
    content: "\E0A9" 
  }
  .icon.-fa-fighter-jet:before {
    content: "\E0AA" 
  }
  .icon.-fa-file-code-o:before {
    content: "\E0AB" 
  }
  .icon.-fa-file-excel-o:before {
    content: "\E0AC" 
  }
  .icon.-fa-file-movie-o:before {
    content: "\E0AD" 
  }
  .icon.-fa-file-o:before {
    content: "\E0AE" 
  }
  .icon.-fa-file-pdf-o:before {
    content: "\E0AF" 
  }
  .icon.-fa-file-photo-o:before {
    content: "\E0B0" 
  }
  .icon.-fa-file-powerpoint-o:before {
    content: "\E0B1" 
  }
  .icon.-fa-file-sound-o:before {
    content: "\E0B2" 
  }
  .icon.-fa-file-text-o:before {
    content: "\E0B3" 
  }
  .icon.-fa-file-text:before {
    content: "\E0B4" 
  }
  .icon.-fa-file-word-o:before {
    content: "\E0B5" 
  }
  .icon.-fa-file-zip-o:before {
    content: "\E0B6" 
  }
  .icon.-fa-file:before {
    content: "\E0B7" 
  }
  .icon.-fa-film:before {
    content: "\E0B8" 
  }
  .icon.-fa-filter:before {
    content: "\E0B9" 
  }
  .icon.-fa-fire-extinguisher:before {
    content: "\E0BA" 
  }
  .icon.-fa-fire:before {
    content: "\E0BB" 
  }
  .icon.-fa-flag-checkered:before {
    content: "\E0BC" 
  }
  .icon.-fa-flag-o:before {
    content: "\E0BD" 
  }
  .icon.-fa-flag:before {
    content: "\E0BE" 
  }
  .icon.-fa-flash:before {
    content: "\E0BF" 
  }
  .icon.-fa-flask:before {
    content: "\E0C0" 
  }
  .icon.-fa-flickr:before {
    content: "\E0C1" 
  }
  .icon.-fa-folder-o:before {
    content: "\E0C2" 
  }
  .icon.-fa-folder-open-o:before {
    content: "\E0C3" 
  }
  .icon.-fa-folder-open:before {
    content: "\E0C4" 
  }
  .icon.-fa-folder:before {
    content: "\E0C5" 
  }
  .icon.-fa-font:before {
    content: "\E0C6" 
  }
  .icon.-fa-forward:before {
    content: "\E0C7" 
  }
  .icon.-fa-foursquare:before {
    content: "\E0C8" 
  }
  .icon.-fa-frown-o:before {
    content: "\E0C9" 
  }
  .icon.-fa-gamepad:before {
    content: "\E0CA" 
  }
  .icon.-fa-gbp:before {
    content: "\E0CB" 
  }
  .icon.-fa-ge:before {
    content: "\E0CC" 
  }
  .icon.-fa-gear:before {
    content: "\E0CD" 
  }
  .icon.-fa-gears:before {
    content: "\E0CE" 
  }
  .icon.-fa-gift:before {
    content: "\E0CF" 
  }
  .icon.-fa-git-square:before {
    content: "\E0D0" 
  }
  .icon.-fa-git:before {
    content: "\E0D1" 
  }
  .icon.-fa-github-alt:before {
    content: "\E0D2" 
  }
  .icon.-fa-github-square:before {
    content: "\E0D3" 
  }
  .icon.-fa-github:before {
    content: "\E0D4" 
  }
  .icon.-fa-gittip:before {
    content: "\E0D5" 
  }
  .icon.-fa-glass:before {
    content: "\E0D6" 
  }
  .icon.-fa-globe:before {
    content: "\E0D7" 
  }
  .icon.-fa-google-plus-square:before {
    content: "\E0D8" 
  }
  .icon.-fa-google-plus:before {
    content: "\E0D9" 
  }
  .icon.-fa-google-wallet:before {
    content: "\E0DA" 
  }
  .icon.-fa-google:before {
    content: "\E0DB" 
  }
  .icon.-fa-group:before {
    content: "\E0DC" 
  }
  .icon.-fa-h-square:before {
    content: "\E0DD" 
  }
  .icon.-fa-hacker-news:before {
    content: "\E0DE" 
  }
  .icon.-fa-hand-o-down:before {
    content: "\E0DF" 
  }
  .icon.-fa-hand-o-left:before {
    content: "\E0E0" 
  }
  .icon.-fa-hand-o-right:before {
    content: "\E0E1" 
  }
  .icon.-fa-hand-o-up:before {
    content: "\E0E2" 
  }
  .icon.-fa-hdd-o:before {
    content: "\E0E3" 
  }
  .icon.-fa-header:before {
    content: "\E0E4" 
  }
  .icon.-fa-headphones:before {
    content: "\E0E5" 
  }
  .icon.-fa-heart-o:before {
    content: "\E0E6" 
  }
  .icon.-fa-heart:before {
    content: "\E0E7" 
  }
  .icon.-fa-history:before {
    content: "\E0E8" 
  }
  .icon.-fa-home:before {
    content: "\E0E9" 
  }
  .icon.-fa-hospital-o:before {
    content: "\E0EA" 
  }
  .icon.-fa-html5:before {
    content: "\E0EB" 
  }
  .icon.-fa-inbox:before {
    content: "\E0EC" 
  }
  .icon.-fa-indent:before {
    content: "\E0ED" 
  }
  .icon.-fa-info-circle:before {
    content: "\E0EE" 
  }
  .icon.-fa-info:before {
    content: "\E0EF" 
  }
  .icon.-fa-instagram:before {
    content: "\E0F0" 
  }
  .icon.-fa-institution:before {
    content: "\E0F1" 
  }
  .icon.-fa-ioxhost:before {
    content: "\E0F2" 
  }
  .icon.-fa-italic:before {
    content: "\E0F3" 
  }
  .icon.-fa-joomla:before {
    content: "\E0F4" 
  }
  .icon.-fa-jsfiddle:before {
    content: "\E0F5" 
  }
  .icon.-fa-key:before {
    content: "\E0F6" 
  }
  .icon.-fa-keyboard-o:before {
    content: "\E0F7" 
  }
  .icon.-fa-language:before {
    content: "\E0F8" 
  }
  .icon.-fa-laptop:before {
    content: "\E0F9" 
  }
  .icon.-fa-lastfm-square:before {
    content: "\E0FA" 
  }
  .icon.-fa-lastfm:before {
    content: "\E0FB" 
  }
  .icon.-fa-leaf:before {
    content: "\E0FC" 
  }
  .icon.-fa-legal:before {
    content: "\E0FD" 
  }
  .icon.-fa-lemon-o:before {
    content: "\E0FE" 
  }
  .icon.-fa-level-down:before {
    content: "\E0FF" 
  }
  .icon.-fa-level-up:before {
    content: "\E100" 
  }
  .icon.-fa-life-bouy:before {
    content: "\E101" 
  }
  .icon.-fa-lightbulb-o:before {
    content: "\E102" 
  }
  .icon.-fa-line-chart:before {
    content: "\E103" 
  }
  .icon.-fa-linkedin-square:before {
    content: "\E104" 
  }
  .icon.-fa-linkedin:before {
    content: "\E105" 
  }
  .icon.-fa-linux:before {
    content: "\E106" 
  }
  .icon.-fa-list-alt:before {
    content: "\E107" 
  }
  .icon.-fa-list-ol:before {
    content: "\E108" 
  }
  .icon.-fa-list-ul:before {
    content: "\E109" 
  }
  .icon.-fa-list:before {
    content: "\E10A" 
  }
  .icon.-fa-location-arrow:before {
    content: "\E10B" 
  }
  .icon.-fa-lock:before {
    content: "\E10C" 
  }
  .icon.-fa-long-arrow-down:before {
    content: "\E10D" 
  }
  .icon.-fa-long-arrow-left:before {
    content: "\E10E" 
  }
  .icon.-fa-long-arrow-right:before {
    content: "\E10F" 
  }
  .icon.-fa-long-arrow-up:before {
    content: "\E110" 
  }
  .icon.-fa-magic:before {
    content: "\E111" 
  }
  .icon.-fa-magnet:before {
    content: "\E112" 
  }
  .icon.-fa-mail-forward:before {
    content: "\E113" 
  }
  .icon.-fa-mail-reply-all:before {
    content: "\E114" 
  }
  .icon.-fa-mail-reply:before {
    content: "\E115" 
  }
  .icon.-fa-male:before {
    content: "\E116" 
  }
  .icon.-fa-map-marker:before {
    content: "\E117" 
  }
  .icon.-fa-maxcdn:before {
    content: "\E118" 
  }
  .icon.-fa-meanpath:before {
    content: "\E119" 
  }
  .icon.-fa-medkit:before {
    content: "\E11A" 
  }
  .icon.-fa-meh-o:before {
    content: "\E11B" 
  }
  .icon.-fa-microphone-slash:before {
    content: "\E11C" 
  }
  .icon.-fa-microphone:before {
    content: "\E11D" 
  }
  .icon.-fa-minus-circle:before {
    content: "\E11E" 
  }
  .icon.-fa-minus-square-o:before {
    content: "\E11F" 
  }
  .icon.-fa-minus-square:before {
    content: "\E120" 
  }
  .icon.-fa-minus:before {
    content: "\E121" 
  }
  .icon.-fa-mobile-phone:before {
    content: "\E122" 
  }
  .icon.-fa-money:before {
    content: "\E123" 
  }
  .icon.-fa-moon-o:before {
    content: "\E124" 
  }
  .icon.-fa-mortar-board:before {
    content: "\E125" 
  }
  .icon.-fa-music:before {
    content: "\E126" 
  }
  .icon.-fa-navicon:before {
    content: "\E127" 
  }
  .icon.-fa-newspaper-o:before {
    content: "\E128" 
  }
  .icon.-fa-openid:before {
    content: "\E129" 
  }
  .icon.-fa-pagelines:before {
    content: "\E12A" 
  }
  .icon.-fa-paint-brush:before {
    content: "\E12B" 
  }
  .icon.-fa-paperclip:before {
    content: "\E12C" 
  }
  .icon.-fa-paragraph:before {
    content: "\E12D" 
  }
  .icon.-fa-paste:before {
    content: "\E12E" 
  }
  .icon.-fa-pause:before {
    content: "\E12F" 
  }
  .icon.-fa-paw:before {
    content: "\E130" 
  }
  .icon.-fa-paypal:before {
    content: "\E131" 
  }
  .icon.-fa-pencil-square:before {
    content: "\E132" 
  }
  .icon.-fa-pencil:before {
    content: "\E133" 
  }
  .icon.-fa-phone-square:before {
    content: "\E134" 
  }
  .icon.-fa-phone:before {
    content: "\E135" 
  }
  .icon.-fa-photo:before {
    content: "\E136" 
  }
  .icon.-fa-pie-chart:before {
    content: "\E137" 
  }
  .icon.-fa-pied-piper-alt:before {
    content: "\E138" 
  }
  .icon.-fa-pied-piper:before {
    content: "\E139" 
  }
  .icon.-fa-pinterest-square:before {
    content: "\E13A" 
  }
  .icon.-fa-pinterest:before {
    content: "\E13B" 
  }
  .icon.-fa-plane:before {
    content: "\E13C" 
  }
  .icon.-fa-play-circle-o:before {
    content: "\E13D" 
  }
  .icon.-fa-play-circle:before {
    content: "\E13E" 
  }
  .icon.-fa-play:before {
    content: "\E13F" 
  }
  .icon.-fa-plug:before {
    content: "\E140" 
  }
  .icon.-fa-plus-circle:before {
    content: "\E141" 
  }
  .icon.-fa-plus-square-o:before {
    content: "\E142" 
  }
  .icon.-fa-plus-square:before {
    content: "\E143" 
  }
  .icon.-fa-plus:before {
    content: "\E144" 
  }
  .icon.-fa-power-off:before {
    content: "\E145" 
  }
  .icon.-fa-print:before {
    content: "\E146" 
  }
  .icon.-fa-puzzle-piece:before {
    content: "\E147" 
  }
  .icon.-fa-qq:before {
    content: "\E148" 
  }
  .icon.-fa-qrcode:before {
    content: "\E149" 
  }
  .icon.-fa-question-circle:before {
    content: "\E14A" 
  }
  .icon.-fa-question:before {
    content: "\E14B" 
  }
  .icon.-fa-quote-left:before {
    content: "\E14C" 
  }
  .icon.-fa-quote-right:before {
    content: "\E14D" 
  }
  .icon.-fa-ra:before {
    content: "\E14E" 
  }
  .icon.-fa-random:before {
    content: "\E14F" 
  }
  .icon.-fa-recycle:before {
    content: "\E150" 
  }
  .icon.-fa-reddit-square:before {
    content: "\E151" 
  }
  .icon.-fa-reddit:before {
    content: "\E152" 
  }
  .icon.-fa-refresh:before {
    content: "\E153" 
  }
  .icon.-fa-remove:before {
    content: "\E154" 
  }
  .icon.-fa-renren:before {
    content: "\E155" 
  }
  .icon.-fa-retweet:before {
    content: "\E156" 
  }
  .icon.-fa-road:before {
    content: "\E157" 
  }
  .icon.-fa-rocket:before {
    content: "\E158" 
  }
  .icon.-fa-rotate-left:before {
    content: "\E159" 
  }
  .icon.-fa-rotate-right:before {
    content: "\E15A" 
  }
  .icon.-fa-rss-square:before {
    content: "\E15B" 
  }
  .icon.-fa-rss:before {
    content: "\E15C" 
  }
  .icon.-fa-ruble:before {
    content: "\E15D" 
  }
  .icon.-fa-rupee:before {
    content: "\E15E" 
  }
  .icon.-fa-save:before {
    content: "\E15F" 
  }
  .icon.-fa-search-minus:before {
    content: "\E160" 
  }
  .icon.-fa-search-plus:before {
    content: "\E161" 
  }
  .icon.-fa-search:before {
    content: "\E162" 
  }
  .icon.-fa-send-o:before {
    content: "\E163" 
  }
  .icon.-fa-send:before {
    content: "\E164" 
  }
  .icon.-fa-share-alt-square:before {
    content: "\E165" 
  }
  .icon.-fa-share-alt:before {
    content: "\E166" 
  }
  .icon.-fa-share-square-o:before {
    content: "\E167" 
  }
  .icon.-fa-share-square:before {
    content: "\E168" 
  }
  .icon.-fa-shekel:before {
    content: "\E169" 
  }
  .icon.-fa-shield:before {
    content: "\E16A" 
  }
  .icon.-fa-shopping-cart:before {
    content: "\E16B" 
  }
  .icon.-fa-sign-in:before {
    content: "\E16C" 
  }
  .icon.-fa-sign-out:before {
    content: "\E16D" 
  }
  .icon.-fa-signal:before {
    content: "\E16E" 
  }
  .icon.-fa-sitemap:before {
    content: "\E16F" 
  }
  .icon.-fa-skype:before {
    content: "\E170" 
  }
  .icon.-fa-slack:before {
    content: "\E171" 
  }
  .icon.-fa-sliders:before {
    content: "\E172" 
  }
  .icon.-fa-slideshare:before {
    content: "\E173" 
  }
  .icon.-fa-smile-o:before {
    content: "\E174" 
  }
  .icon.-fa-soccer-ball-o:before {
    content: "\E175" 
  }
  .icon.-fa-sort-alpha-asc:before {
    content: "\E176" 
  }
  .icon.-fa-sort-alpha-desc:before {
    content: "\E177" 
  }
  .icon.-fa-sort-amount-asc:before {
    content: "\E178" 
  }
  .icon.-fa-sort-amount-desc:before {
    content: "\E179" 
  }
  .icon.-fa-sort-down:before {
    content: "\E17A" 
  }
  .icon.-fa-sort-numeric-asc:before {
    content: "\E17B" 
  }
  .icon.-fa-sort-numeric-desc:before {
    content: "\E17C" 
  }
  .icon.-fa-sort-up:before {
    content: "\E17D" 
  }
  .icon.-fa-soundcloud:before {
    content: "\E17E" 
  }
  .icon.-fa-space-shuttle:before {
    content: "\E17F" 
  }
  .icon.-fa-spinner:before {
    content: "\E180" 
  }
  .icon.-fa-spoon:before {
    content: "\E181" 
  }
  .icon.-fa-spotify:before {
    content: "\E182" 
  }
  .icon.-fa-square-o:before {
    content: "\E183" 
  }
  .icon.-fa-square:before {
    content: "\E184" 
  }
  .icon.-fa-stack-exchange:before {
    content: "\E185" 
  }
  .icon.-fa-stack-overflow:before {
    content: "\E186" 
  }
  .icon.-fa-star-half-empty:before {
    content: "\E187" 
  }
  .icon.-fa-star-half:before {
    content: "\E188" 
  }
  .icon.-fa-star-o:before {
    content: "\E189" 
  }
  .icon.-fa-star:before {
    content: "\E18A" 
  }
  .icon.-fa-steam-square:before {
    content: "\E18B" 
  }
  .icon.-fa-steam:before {
    content: "\E18C" 
  }
  .icon.-fa-step-backward:before {
    content: "\E18D" 
  }
  .icon.-fa-step-forward:before {
    content: "\E18E" 
  }
  .icon.-fa-stethoscope:before {
    content: "\E18F" 
  }
  .icon.-fa-stop:before {
    content: "\E190" 
  }
  .icon.-fa-strikethrough:before {
    content: "\E191" 
  }
  .icon.-fa-stumbleupon-circle:before {
    content: "\E192" 
  }
  .icon.-fa-stumbleupon:before {
    content: "\E193" 
  }
  .icon.-fa-subscript:before {
    content: "\E194" 
  }
  .icon.-fa-suitcase:before {
    content: "\E195" 
  }
  .icon.-fa-sun-o:before {
    content: "\E196" 
  }
  .icon.-fa-superscript:before {
    content: "\E197" 
  }
  .icon.-fa-table:before {
    content: "\E198" 
  }
  .icon.-fa-tablet:before {
    content: "\E199" 
  }
  .icon.-fa-tag:before {
    content: "\E19A" 
  }
  .icon.-fa-tags:before {
    content: "\E19B" 
  }
  .icon.-fa-tasks:before {
    content: "\E19C" 
  }
  .icon.-fa-tencent-weibo:before {
    content: "\E19D" 
  }
  .icon.-fa-terminal:before {
    content: "\E19E" 
  }
  .icon.-fa-text-height:before {
    content: "\E19F" 
  }
  .icon.-fa-text-width:before {
    content: "\E1A0" 
  }
  .icon.-fa-th-large:before {
    content: "\E1A1" 
  }
  .icon.-fa-th-list:before {
    content: "\E1A2" 
  }
  .icon.-fa-th:before {
    content: "\E1A3" 
  }
  .icon.-fa-thumb-tack:before {
    content: "\E1A4" 
  }
  .icon.-fa-thumbs-down:before {
    content: "\E1A5" 
  }
  .icon.-fa-thumbs-o-down:before {
    content: "\E1A6" 
  }
  .icon.-fa-thumbs-o-up:before {
    content: "\E1A7" 
  }
  .icon.-fa-thumbs-up:before {
    content: "\E1A8" 
  }
  .icon.-fa-ticket:before {
    content: "\E1A9" 
  }
  .icon.-fa-times-circle-o:before {
    content: "\E1AA" 
  }
  .icon.-fa-times-circle:before {
    content: "\E1AB" 
  }
  .icon.-fa-tint:before {
    content: "\E1AC" 
  }
  .icon.-fa-toggle-down:before {
    content: "\E1AD" 
  }
  .icon.-fa-toggle-left:before {
    content: "\E1AE" 
  }
  .icon.-fa-toggle-off:before {
    content: "\E1AF" 
  }
  .icon.-fa-toggle-on:before {
    content: "\E1B0" 
  }
  .icon.-fa-toggle-right:before {
    content: "\E1B1" 
  }
  .icon.-fa-toggle-up:before {
    content: "\E1B2" 
  }
  .icon.-fa-trash-o:before {
    content: "\E1B3" 
  }
  .icon.-fa-trash:before {
    content: "\E1B4" 
  }
  .icon.-fa-tree:before {
    content: "\E1B5" 
  }
  .icon.-fa-trello:before {
    content: "\E1B6" 
  }
  .icon.-fa-trophy:before {
    content: "\E1B7" 
  }
  .icon.-fa-truck:before {
    content: "\E1B8" 
  }
  .icon.-fa-tty:before {
    content: "\E1B9" 
  }
  .icon.-fa-tumblr-square:before {
    content: "\E1BA" 
  }
  .icon.-fa-tumblr:before {
    content: "\E1BB" 
  }
  .icon.-fa-turkish-lira:before {
    content: "\E1BC" 
  }
  .icon.-fa-twitch:before {
    content: "\E1BD" 
  }
  .icon.-fa-twitter-square:before {
    content: "\E1BE" 
  }
  .icon.-fa-twitter:before {
    content: "\E1BF" 
  }
  .icon.-fa-umbrella:before {
    content: "\E1C0" 
  }
  .icon.-fa-underline:before {
    content: "\E1C1" 
  }
  .icon.-fa-unlink:before {
    content: "\E1C2" 
  }
  .icon.-fa-unlock-alt:before {
    content: "\E1C3" 
  }
  .icon.-fa-unlock:before {
    content: "\E1C4" 
  }
  .icon.-fa-unsorted:before {
    content: "\E1C5" 
  }
  .icon.-fa-upload:before {
    content: "\E1C6" 
  }
  .icon.-fa-user-md:before {
    content: "\E1C7" 
  }
  .icon.-fa-user:before {
    content: "\E1C8" 
  }
  .icon.-fa-video-camera:before {
    content: "\E1C9" 
  }
  .icon.-fa-vimeo-square:before {
    content: "\E1CA" 
  }
  .icon.-fa-vine:before {
    content: "\E1CB" 
  }
  .icon.-fa-vk:before {
    content: "\E1CC" 
  }
  .icon.-fa-volume-down:before {
    content: "\E1CD" 
  }
  .icon.-fa-volume-off:before {
    content: "\E1CE" 
  }
  .icon.-fa-volume-up:before {
    content: "\E1CF" 
  }
  .icon.-fa-warning:before {
    content: "\E1D0" 
  }
  .icon.-fa-wechat:before {
    content: "\E1D1" 
  }
  .icon.-fa-weibo:before {
    content: "\E1D2" 
  }
  .icon.-fa-wheelchair:before {
    content: "\E1D3" 
  }
  .icon.-fa-wifi:before {
    content: "\E1D4" 
  }
  .icon.-fa-windows:before {
    content: "\E1D5" 
  }
  .icon.-fa-won:before {
    content: "\E1D6" 
  }
  .icon.-fa-wordpress:before {
    content: "\E1D7" 
  }
  .icon.-fa-wrench:before {
    content: "\E1D8" 
  }
  .icon.-fa-xing-square:before {
    content: "\E1D9" 
  }
  .icon.-fa-xing:before {
    content: "\E1DA" 
  }
  .icon.-fa-yahoo:before {
    content: "\E1DB" 
  }
  .icon.-fa-yelp:before {
    content: "\E1DC" 
  }
  .icon.-fa-youtube-play:before {
    content: "\E1DD" 
  }
  .icon.-fa-youtube-square:before {
    content: "\E1DE" 
  }
  .icon.-fa-youtube:before {
    content: "\E1DF" 
  }
