.button {
  @extend .btn;
  background: $white;
  border: 1px solid $gray-light;
  &:hover {
    background-color: darken($white, 5%);
  }
  &.-primary {
    font-size: 14px;
    font-weight: bold;
    background: $blue-electric;
    color: $white;
    border: 1px solid $blue-electric;
    &:hover {
      background-color: darken($blue-electric, 5%);
    }
  }
}