<!--

title: Feed
component: feed
data:
  title: What's happening
  items:
    - title: Departure
      icon: fa-arrow-circle-right
      name: Tim Brown
      details: 1 room, 2 guests
    - title: Arrival
      icon: fa-arrow-circle-left
      name: Zack Zimmer
      details: 1 room, 1 guest

-->

<h3>{{ title }}</h3>

<table class="feed">
    {% for item in items %}
  <tr>
    <td><span class="icon -{{ item.icon}} -big"></span> </td>
    <td>
      <h4>{{ item.title }}</h4>
    </td>
    <td>
      <h5>{{ item.name}}</h5>
      <p>{{ item.details }}</p>
    </td>
  </tr>
    {% endfor %}
</table>
